# AWS Config

variable "aws_access_key" {
  default = "YOUR_ACCESS_KEY_ID"
}

variable "aws_secret_key" {
  default = "YOUR_SECRET_KEY"
}

variable "aws_region" {
  default = "us-west-2"
}

variable "key_pair_name" {
  default = "your_key_name"
}

variable "key_pair_location" {
  default = "~/Documents/your_key_name.pem"
}

variable "ssl_acm_arn" {
  default = "arn:aws:acm:YOUR_AWS_REGION:YOUR_AWS_ID:certificate/YOUR_CERTIFICATE_ID"
}
